<% content_for :title, "Welcome!" %>
<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
		  <li class="current"><%= link_to 'Home', root_url %></li>
		  <li><%= link_to 'Sites List', sites_path %></li>
		</ul>
		<h3>Keeping track of all your small changes</h3>
		<p>This is running on heroku.</p>
	</div>
</div>
