<% content_for :title, "Pricing" %>
<div class="row">
	<div class="three columns">
		<ul class="pricing-table">
		  <li class="title">Freelancer</li>
		  <li class="price">Free</li>
		  <li class="description">Perfect for the lone developer keeping track of their own website or blog.</li>
		  <li class="bullet-item">2 Websites</li>
		  <li class="bullet-item">20 Snapshots per site</li>
		  <li class="bullet-item">1 User</li>
		  <li class="cta-button"><p>Sign up as a:</p><%= link_to "Freelancer", signup_path, :class => 'button' %></li>
		</ul>
	</div>
	<div class="three columns">
		<ul class="pricing-table">
		  <li class="title">Small Team</li>
		  <li class="price">$9.99/Month</li>
		  <li class="description">Maintaining a few websites for clients plus your own company site and blog.</li>
		  <li class="bullet-item">5 Websites</li>
		  <li class="bullet-item">80 Snapshots per site</li>
		  <li class="bullet-item">8 Users</li>
		  <li class="cta-button"><p>Sign up as a:</p><%= link_to "Small Team", signup_path, :class => 'button' %></li>
		</ul>
	</div>
	<div class="three columns">
		<ul class="pricing-table">
		  <li class="title">Medium Team</li>
		  <li class="price">$29.99/Month</li>
		  <li class="description">Great for documenting multiple people working on multiple sites simultaneously.</li>
		  <li class="bullet-item">40 Websites</li>
		  <li class="bullet-item">180 Snapshots per site</li>
		  <li class="bullet-item">25 Users</li>
		  <li class="cta-button"><p>Sign up as a:</p><%= link_to "Medium Team", signup_path, :class => 'button' %></li>
		</ul>
	</div>
	<div class="three columns">
		<ul class="pricing-table">
		  <li class="title">Enterprise</li>
		  <li class="price">$79.99/Month</li>
		  <li class="description">Designed to meet the needs of a large company with hundreds of websites.</li>
		  <li class="bullet-item">200 Websites</li>
		  <li class="bullet-item">400 Snapshots per site</li>
		  <li class="bullet-item">100 Users</li>
		  <li class="cta-button"><p>Sign up as a:</p><%= link_to "Enterprise", signup_path, :class => 'button' %></li>
		</ul>
	</div>
</div>