<% content_for :title, "Site List" %>
<div class="row">
	<div class="twelve columns">
		<h1>Site List</h1>
		<ul>
			<% for site in @site_list %>
				<li><%= site.url %></li>
			<% end %>
		</ul>
	</div>
</div>